<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.duti.toppet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Toppet</name>
    <description>
        Manage you Pet Life
    </description>
    <author email="eduu.porto@gmail.com" href="http://phonegap.com">
        DUTI
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="22" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="target-device" value="universal" />
    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-safariviewcontroller" spec="C:\Users\eporto\git\Toto\node_modules\cordova-plugin-safariviewcontroller">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyCktbQb6g7SX4lIgecyzsrz0sMzl3660nU" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyAaRDbFBx5gubzyW9_LE6KCFM3vE80hQw8" />
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
        <variable name="LOCATION_WHEN_IN_USE_DESCRIPTION" value="This app wants to get your location while this app runs only." />
        <variable name="LOCATION_ALWAYS_USAGE_DESCRIPTION" value="This app wants to get your location always, even this app runs in background." />
    </plugin>
    <plugin name="cordova-plugin-googlemaps" spec="~2.5.2">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyCktbQb6g7SX4lIgecyzsrz0sMzl3660nU" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyAaRDbFBx5gubzyW9_LE6KCFM3vE80hQw8" />
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
        <variable name="LOCATION_WHEN_IN_USE_DESCRIPTION" value="This app wants to get your location while this app runs only." />
        <variable name="LOCATION_ALWAYS_USAGE_DESCRIPTION" value="This app wants to get your location always, even this app runs in background." />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-facebook4" spec="4.2.1">
        <variable name="APP_ID" value="389609115207477" />
        <variable name="APP_NAME" value="Toppet" />
        <variable name="FACEBOOK_HYBRID_APP_EVENTS" value="false" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.40.0" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-camera" spec="4.0.3" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-sqlite-storage" spec="3.2.0" />
</widget>
