
<div class="row" style="height: 65%;" style="background-color: white; height: 400px;">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" *ngIf="!isEmpty();">
    <ul class="event-list">
      <li *ngFor="let appointment of appointments;">
        <time [attr.datetime]="appointment.fulldate">
          <span class="day">{{appointment.day}}</span>
          <span class="month">{{appointment.month}}</span>
          <span class="title">{{appointment.appointmentType?.description}}</span>
        </time>
      </li>
    </ul>
  </div>
  <section class="body_section" *ngIf="isEmpty();">
    <div class=interface_class>
      <small class="default-text text-petlife" style="position: fixed;top: 42%;left: 26%;">{{language.noAppointmentsClick}}</small>
    </div>
  </section>
</div>

