<section id="team" class="pb-5" *ngIf="outlet.isActivated == false">
<div class="container">
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <li *ngFor="let app of appointments;">
          <time [attr.datetime]="app.fulldate">
            <span class="day">{{app.day}}</span>
            <span class="month">{{app.month}}</span>
            <!-- <span class="year">{{app.year}}</span>
            <span class="time">{{app.time}}</span> -->
          </time>
          <img src="{{app.pet?.img}}" />
          <div class="info">
            <!-- <h2 class="title">{{app.appointmentType?.description}}</h2> -->
            <p class="desc">{{app.description}}</p>
          </div>
          <!-- <div class="social">
            <ul>
              <li class="facebook" style="width:33%;"><a href="javascript:;"><span class="fa fa-facebook"></span></a></li>
              <li class="google-plus" style="width:33%;"><a href="javascript:;"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div> -->
        </li>
      </ul>
  </div>
  </div>
  <app-loading *ngIf="loading" [center]="true"></app-loading>
  <a href="javascript:;" class="float bg-toppet" (click)="add()">
    <i class="fa fa-plus my-float"></i>
  </a>
</div>
</section>
<router-outlet #outlet="outlet"></router-outlet>