<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="false" data-interval="false">
        <ol class="carousel-indicators" style="position: fixed;">
            <li data-slide-to="0" class="active"></li>
            <li data-slide-to="1"></li>
            <li data-slide-to="2"></li>
            <!-- data-target="#carouselExampleIndicators" -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <a href="javascript:;" *ngFor="let pet of user.pets" (click)="selectPet(pet)">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body">
                                <p><img class="img-fluid" src="{{pet.img}}"></p>
                                <h4 class="card-title">{{pet.name}}</h4>
                                </div>
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <div class="form-signin">
                        <br>
                        <mat-form-field>
                            <input class="ember-view ember-text-field text-muted" matInput [(ngModel)]="appointment.appointmentType.description" placeholder="{{language.name}}" type="text" ngDefaultControl>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput style="height: auto;height: 47px;" aria-describedby="basic-addon1" class="ember-view ember-text-field text-muted" [matDatepicker]="myDatepicker" placeholder="{{language.birthDate}}" [(ngModel)]="appointment.date" ngDefaultControl>
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input class="ember-view ember-text-field text-muted" matInput [(ngModel)]="appointment.appointmentType.description" placeholder="{{language.description}}" type="text" ngDefaultControl>
                        </mat-form-field>
                    </div>
                    <a href="javascript:;" class="btn btn-toppet btn-bottom btn-round" style="position: fixed; margin-bottom: 16%; right: 40%;" (click)="next()"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <app-pets-picture></app-pets-picture> -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" #previousInput style="position: fixed; display: none;" role="button" data-slide="prev"></a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" #nextInput style="position: fixed; display: none;" role="button" data-slide="next"></a>
    </div>
    <app-alert></app-alert>
    <!-- <app-loading *ngIf="loading" [center]="true"></app-loading> -->
</div>
