mat-navbar-container {
    width: 100% !important;
    height: calc(100vh - 64px) !important;
}

mat-navbar {
    background-color: blue !important;
}
    
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-navbar {
    position: fixed;
    z-index: 100;
}

.menu-disabled {
    display: none !important;
}

.menu-enabled {
    display: block !important;
}