<div class="navbar-dark bg-toppet main-menu" [class.example-is-mobile]="mobileQuery.matches" *ngIf="disable == false">
    <mat-toolbar color="accent" class="example-toolbar">
        <button  class="navbar-toggler" type="button" (click)="snav.toggle()" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>
            <a class="nav-link" href="javascript:;"><i class="fa fa-user">&nbsp;&nbsp;</i>{{user?.name}}</a>
            <a class="nav-link" href="javascript:;"><i class="fa fa-question-circle">&nbsp;&nbsp;</i>{{language.about}}</a>
            <a class="nav-link" href="javascript:;" (click)="logout()"><i class="fa fa-times-circle">&nbsp;&nbsp;</i>{{language.logout}}</a>
          </mat-nav-list>
        </mat-sidenav>
    
        <!-- <mat-sidenav-content>
            <mat-tab-group>
                <mat-tab label="First"> Content 1 </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content> -->
    </mat-sidenav-container>
</div>
<br>