<nav class="navbar  navbar-dark bg-petlife" *ngIf="disable == false"><!-- navbar-expand-lg-->
    <a class="navbar-brand" href="#">{{applicationName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" [ngClass]="{ 'button-disabled': disableMenu }" (click)="toggleNavbar()" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:;"><i class="fa fa-user">&nbsp;&nbsp;</i>{{user.name}}</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/{{language.links.pets}}" (click)="toggleNavbar()"><i class="fa fa-paw">&nbsp;&nbsp;</i>{{language.myPet}}</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="javascript:;" (click)="toggleNavbar()"><i class="fa fa-hands-helping">&nbsp;&nbsp;</i>{{language.adoptions}}</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="javascript:;" (click)="toggleNavbar()"><i class="fa fa-calendar">&nbsp;&nbsp;</i>{{language.appointments}}</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" (click)="toggleNavbar()"><i class="fa fa-question-circle">&nbsp;&nbsp;</i>{{language.about}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" (click)="logout()" (click)="toggleNavbar()"><i class="fa fa-times-circle">&nbsp;&nbsp;</i>{{language.logout}}</a>
            </li>
        </ul>
    </div>
</nav>
<br>