<div class="container">     
<script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>
<div class="container text-center">
    <form class="form-signin" #loginForm="ngForm">
        <h2 class="form-signin-heading">{{language.signIn}}</h2>
        <small class="text-muted">{{language.connect}} {{applicationName}} {{language.favoriteSocialMedia}}</small>
        <br><br>
        <p>
            <facebook-button></facebook-button>
            <google-button></google-button>
        </p>
        <br>

        <small class="text-muted">{{language.enterYourLogon}} {{applicationName}}</small>
        <br>
        
        <input type="hidden" name="socialMedia" id="socialMedia" value="0" ngModel>
        <input class="ember-view ember-text-field form-control login-input" placeholder="{{language.username}}" type="text" name="username" id="username" ngModel><!-- required -->
        <input class="ember-view ember-text-field form-control login-input-pass" placeholder="{{language.password}}" type="password" name="password" id="password" ngModel>

        <script id="metamorph-22-start" type="text/x-placeholder"></script><script id="metamorph-22-end" type="text/x-placeholder"></script>
        <div class="spinner-border text-petlife" role="status" [ngClass]="{ 'button-disabled': !loading }">
            <span class="sr-only">Carregando...</span>
        </div>
        <app-alert></app-alert>
        <login-button classes="btn btn-lg btn-petlife btn-block btn-center" [form]="loginForm" (error)="onLoginError($event)" (success)="onLoginSuccess($event)" (begin)="onLoginInit()" (done)="onLoginEnd()">{{language.signIn}}</login-button>
        <br>
    </form>
    <small class="create-account text-muted">{{language.dontHave}} {{applicationName}} {{language.orSocialMediaAccount}} <button class="ember-view btn btn-sm btn-default" (click)="register()"> <b>{{language.register}} </b></button> </small>
</div>