<div class="container text-center">
  <h1 class="form-signin-heading" style="color: white !important">{{language.welcome}} <b>{{applicationName}}</b></h1>
  <br>
  <app-carousel [indicator-bottom]="'9%'">
    <small class="text-muted page1">{{language.appDescription1}}</small>
    <small class="text-muted page2">{{language.appDescription2}}</small>
    <small class="text-muted page3">{{language.appDescription3}}</small>
  </app-carousel>
  <a routerLink="/signin"><button class="btn btn-toppet btn-bottom-left btn-lg" style="width: 40% !important;">{{language.login}}</button></a>
  <a routerLink="/signup"><button class="btn btn-toppet btn-hollow btn-bottom-right btn-lg" style="width: 40% !important;">{{language.signUp}}</button></a>
</div>
