<div class="container welcome-background">
  <div class="container text-center">
    <br>
    <h1 class="form-signin-heading" style="color: white !important">{{language.welcome}} <b>{{applicationName}}</b></h1>
    <br>
    <small class="text-muted">{{language.appDescription}}</small>
    <a routerLink="/signin"><button class="btn btn-toppet btn-center btn-bottom-left btn-lg" style="width: 40% !important;">{{language.login}}</button></a>
    <a routerLink="/signup"><button class="btn btn-toppet btn-hollow btn-center btn-bottom-right btn-lg" style="width: 40% !important;">{{language.signUp}}</button></a>
  </div>
</div>
<!-- Tasha Reign
http://juicygif.com/public/Gif/Sex-Blonde-done-doggystyle.gif-187463p.html/(mode)/search/(keyword)/couples-sex -->