<div class="container welcome-background"> 
  <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>
  <div class="container text-center">
    <br>
    <h1 class="form-signin-heading" style="color: white">{{language.welcome}} <b>{{applicationName}}</b></h1>
    <br><br><br><br><br><br>
    <small class="text-muted">{{language.alreadyHaveAnAccount}} <b>{{language.login}}</b><br> {{language.otherWiseClickNext}} <b>{{language.next}}</b></small>
    <footer>
      <button class="btn btn-hollow btn-center btn-bottom-left" (click)="login()">{{language.login}}</button>
      <button class="btn btn-hollow btn-center btn-bottom-right" (click)="register()">{{language.next}}</button>
    </footer>
</div>