/* You can add global styles to this file, and also import other style files */
/* @import '~assets/font-awesome/css/all.min.css'; */
@import "~@angular/material/prebuilt-themes/purple-green.css";

.button-disabled {
    display: none !important;
}

.btn-toppet {
    color: #fff;
    background-color: #02a582;
    border-color: #02a582;
}

.bg-toppet {
    background-color: #02a582;
}

.text-toppet {
    color: #02a582!important;
}

.btn-petlife {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.bg-petlife {
    background-color: #563d7c;
}

.text-petlife {
    color: #563d7c !important;
}

.btn-pink {
    color: #fff;
    background-color:hotpink;
    border-color: hotpink;
}

.btn-round {
    border-radius:50px;
    text-align:center;
    width:60px;
    height:60px;
    margin-top:22px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	/* background-color:#0C9; */
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px rgb(60, 31, 90);
    z-index: 9999;
}

.bg-pink {
    background-color: hotpink;
}

.text-pink {
    color: hotpink !important;
}

.btn-hollow {
    color: #fff;
}

.btn-orange {
    color: #fff;
    background-color:orange;
    border-color: orange;
}

.bg-orange {
    background-color: orange;
}

.text-orange {
    color: orange !important;
}

.btn-bottom-right {
    position: absolute;
    right:    0;
    bottom:   0;
    margin-bottom: 3%;
    margin-right: 3%;
}

.btn-bottom-left {
    position: absolute;
    left:    0;
    bottom:   0;
    margin-bottom: 3%;
    margin-left: 3%;
}

.btn-bottom {
    position: absolute;
    bottom:   0;
    margin-bottom: 3%;
}

.btn-hollow {
    background: none !important;
}

.default-background {
    background-image: url("assets/img/bg.jpg");
    background-repeat: round;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #563d7c;
}

.text-muted {
    color: #bbbbbb !important;
    font-size: 100%;
}

.slidecount {
    opacity: 1;
}

.slidecount {
    height: .6rem;
    bottom: 1.7rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.unselectable, .unselectable * {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ip, .sip {
    position: relative;
    box-sizing: content-box;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.ip, .sip {
    position: relative;
    box-sizing: content-box;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.slidecount span {
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    height: .6rem;
    width: .6rem;
    display: inline-block;
    line-height: .6rem;
    margin: 0 .5rem;
}

.slidecount span.selected {
    background: #fff;
}

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
    font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.login-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login-input-pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.signup-input-confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  
.create-account {
    text-align: center;
    width: 100%;
    display: block;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-center{
    /* width: 50%; */
    text-align: center;
    margin: inherit;
}

.social-login-btn {
    margin: 5px;
    width: 20%;
    font-size: 250%;
    padding: 0;
}
  
.social-google {
    background-color: #da573b;
    border-color: #be5238;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}


/* Disable user selection
In contrast to web browsers, most native applications do not allow the selection of the texts on the UI. To make our Angular wrapped app look more like a native application, I recommend disabling the text selection.

To disable user text selection, it is sufficient to add a custom CSS rule that applies to any HTML element except for the input fields. */

*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
