/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~assets/css/all.css';*/

.button-disabled {
    display: none !important;
}

.btn-killgrave {
    color: #fff;
    background-color: #02a582;
    border-color: #02a582;
}

.bg-killgrave {
    background-color: #02a582;
}

.text-killgrave {
    color: #02a582!important;
}

.btn-petlife {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.bg-petlife {
    background-color: #563d7c;
}

.text-petlife {
    color: #563d7c !important;
}

.btn-pink {
    color: #fff;
    background-color:hotpink;
    border-color: hotpink;
}

.bg-pink {
    background-color: hotpink;
}

.text-pink {
    color: hotpink !important;
}

.btn-orange {
    color: #fff;
    background-color:orange;
    border-color: orange;
}

.bg-orange {
    background-color: orange;
}

.text-orange {
    color: orange !important;
}