/* You can add global styles to this file, and also import other style files */
/* @import '~assets/font-awesome/css/all.min.css'; */

.button-disabled {
    display: none !important;
}

.btn-toppet {
    color: #fff;
    background-color: #02a582;
    border-color: #02a582;
}

.bg-toppet {
    background-color: #02a582;
}

.text-toppet {
    color: #02a582!important;
}

.btn-petlife {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.bg-petlife {
    background-color: #563d7c;
}

.text-petlife {
    color: #563d7c !important;
}

.btn-pink {
    color: #fff;
    background-color:hotpink;
    border-color: hotpink;
}

.bg-pink {
    background-color: hotpink;
}

.text-pink {
    color: hotpink !important;
}

.btn-hollow {
    color: #fff;
}

.btn-orange {
    color: #fff;
    background-color:orange;
    border-color: orange;
}

.bg-orange {
    background-color: orange;
}

.text-orange {
    color: orange !important;
}

.btn-bottom-right {
    position: absolute;
    right:    0;
    bottom:   0;
    margin-bottom: 3%;
    margin-right: 3%;
}

.btn-bottom-left {
    position: absolute;
    left:    0;
    bottom:   0;
    margin-bottom: 3%;
    margin-left: 3%;
}

.btn-hollow {
    background: none !important;
}

.default-background {
    background-image: url("src/assets/img/welcome-bg.jpg");
    background-color: #563d7c;
    background-repeat: round !important;
    background-size: cover !important;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.text-muted {
    color: #bbbbbb !important;
    font-size: 100%;
}

.slidecount {
    opacity: 1;
}

.slidecount {
    height: .6rem;
    bottom: 1.7rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.unselectable, .unselectable * {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ip, .sip {
    position: relative;
    box-sizing: content-box;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.ip, .sip {
    position: relative;
    box-sizing: content-box;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.slidecount span {
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    height: .6rem;
    width: .6rem;
    display: inline-block;
    line-height: .6rem;
    margin: 0 .5rem;
}

.slidecount span.selected {
    background: #fff;
}

/* Disable user selection
In contrast to web browsers, most native applications do not allow the selection of the texts on the UI. To make our Angular wrapped app look more like a native application, I recommend disabling the text selection.

To disable user text selection, it is sufficient to add a custom CSS rule that applies to any HTML element except for the input fields. */

*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

