<div class="container text-center">
  <br>
  <br>
  <br>
  <div class="index-background">
    <p>
      <a class="btn btn-primary index-icon" href="#" (click)="maps()"><i class="fas fa-shopping-basket"></i></a>&nbsp;
      <a class="btn btn-killgrave index-icon" href="#" (click)="appointments()"><i class="fa fa-calendar"></i></a>
    </p>
    <p>
      <a class="btn btn-orange index-icon" href="#" (click)="pets()"><i class="fa fa-paw"></i></a>&nbsp;
      <a class="btn btn-pink index-icon" href="#" (click)="donations()"><i class="fa fa-hands-helping"></i></a>
    </p>
  </div>
    <br>
  <br>
</div>
