<div class="container text-center">
  <br>
    <p>
      <a class="btn btn-primary social-login-btn social-facebook" href="#"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-primary social-login-btn social-google" href="#"><i class="fa fa-google-plus"></i></a>
    </p>
    <p>
      <a class="btn btn-primary social-login-btn social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-primary social-login-btn social-twitter" href="#"><i class="fa fa-twitter"></i></a>
    </p>
    <br>
  <br>
</div>
