.index-icon {
    margin: 5px;
    width: 22%;
    font-size: 295%;
}

.button-group {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    bottom: 2%;
    position: fixed;
    left: 2.5%;
}

.buttons {
    max-width: 130%;
    display: inline-block;
}