.index-icon {
    margin: 5px;
    width: 22%;
    font-size: 315%;
}

.button-group {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.buttons {
    max-width: 130%;
    display: inline-block;
}