<div class="container" style="margin-top: 0 !important;">     
  <div class="text-center">
      <form class="form-signin" #registerForm="ngForm" autocomplete="off">
          <h2 class="form-signin-heading" style="color: white !important">{{language.signUp}}</h2>
          <small class="text-muted">{{language.connect}} {{applicationName}} {{language.favoriteSocialMedia}}</small>
          <br>
          <p>
            <facebook-button (begin)="onRegisterInit()" (done)="onRegisterEnd($event, true)"></facebook-button>
            <google-button (begin)="onRegisterInit()" (done)="onRegisterEnd($event, true)"></google-button>
          </p>
          <small class="text-muted">{{language.createWithSomeInfo}}</small>
          <br>
          <mat-form-field>
            <input matInput class="ember-view ember-text-field text-muted" maxlength="32" placeholder="{{language.username}}" name="username" id="username" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input matInput class="ember-view ember-text-field text-muted" maxlength="50" placeholder="{{language.name}}" name="name" id="name" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input matInput class="ember-view ember-text-field text-muted" maxlength="32" placeholder="{{language.password}}" [type]="hide ? 'password' : 'text'" name="password" id="password" ngModel>
            <mat-icon matSuffix color="accent" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput class="ember-view ember-text-field text-muted" maxlength="32" placeholder="{{language.confirmPassword}}" [type]="hide ? 'password' : 'text'" name="confirmPassword" id="confirmPassword" ngModel>
            <mat-icon matSuffix color="accent" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <br>
          <app-alert></app-alert>
          <register-button [hidden]="loading" classes="btn btn-lg btn-toppet btn-block" [form]="registerForm" (begin)="onRegisterInit()" (done)="onRegisterEnd($event, false)">{{language.signUp}}</register-button>
          <br>
      </form>
  </div>
</div>