<!-- https://yespornplease.com/v/100046849
https://yespornplease.com/v/956831015 
https://yespornplease.com/v/383223747-->
<div class="modal-dialog default-background" role="document" id="addPet" (keypress)="browserKeyPress($event)">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{language.addNewPet}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <img [src]="pet.img" class="card-img-top" [ngClass]="{ 'button-disabled': pet.img == null }">
                <a class="btn btn-light" [ngClass]="{ 'button-disabled': pet.img != null }" (click)="camera()" href="javascript:;" style="font-size: 450%;"><i class="fa fa-camera text-petlife"></i></a>
            </div>
            <button class="btn btn-petlife btn-block btn-center"  type="button" (click)="openPetType()">
                {{animal.name}}
                <i [ngClass]="'fa fa-' + animal.icon" style="float: right; font-size: 125%;"></i>
            </button>
            <input class="ember-view ember-text-field form-control login-input" [(ngModel)]="pet.name" placeholder="{{language.name}}" type="text" ngDefaultControl />
            <input class="ember-view ember-text-field form-control login-input" [(ngModel)]="pet.age" placeholder="{{language.age}}" type="text" ngDefaultControl />
            <input class="ember-view ember-text-field form-control login-input-pass" [(ngModel)]="pet.description" placeholder="{{language.description}}" type="text" ngDefaultControl />       
        </div>
        <app-alert></app-alert>
        <div class="modal-footer">
            <div class="spinner-border text-toppet" role="status" [ngClass]="{ 'button-disabled': !loading }">
                <span class="sr-only">Carregando...</span>
            </div>
            <button class="btn btn-petlife btn-block btn-center" type="button" (click)="createPet()" [ngClass]="{ 'button-disabled': loading }" data-bindattr-3="3">{{language.createUser}}</button>
        </div>
    </div>
    <div class="slidecount">
        <span class="selected"></span>
        <span class=""></span>
        <span class=""></span>
    </div>
</div>
      