<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{language.animal}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container text-center">
        <p>
            <a class="btn btn-primary social-login-btn" (click)="select()" href="#"><i class="fa fa-dog"></i></a>
            <a class="btn btn-primary social-login-btn" (click)="select()" href="#"><i class="fa fa-cat"></i></a>
            <a class="btn btn-primary social-login-btn" (click)="select()" href="#"><i class="fa fa-dove"></i></a>
            <a class="btn btn-primary social-login-btn" (click)="select()" href="#"><i class="fa fa-fish"></i></a>
        </p>
      </div> 
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Send message</button>
    </div> -->
  </div>
</div>
