<!-- https://yespornplease.com/v/100046849
https://yespornplease.com/v/956831015 
https://yespornplease.com/v/383223747-->
<section class="body_section">
    <div class="container text-center">
        <div class=interface_class>
            <div class="page-header">
                <h1>{{language.addNewPet}}</h1>
            </div>
            <input class="ember-view ember-text-field form-control login-input" [(ngModel)]="pet.name" placeholder="{{language.name}}" type="text" ngDefaultControl />
            <input class="ember-view ember-text-field form-control login-input" [(ngModel)]="pet.age" placeholder="{{language.age}}" type="text" ngDefaultControl />
            <input class="ember-view ember-text-field form-control login-input-pass" [(ngModel)]="pet.description" placeholder="{{language.description}}" type="text" ngDefaultControl />
            <app-loading *ngIf="loading"></app-loading>
            <app-alert></app-alert>
        </div>
    </div>
    <div class="slidecount">
        <span class=""></span>
        <span class="selected"></span>
        <span class=""></span>
    </div>
</section>
  
  
  
      