<div class="container">
    <div class="text-center">
        <div class="form-signin">
            <!-- <h2 class="form-signin-heading" style="color: white !important">{{language.addNewPet}}</h2> -->
            <br>
    
            <div class="input-group mb-3" *ngIf="pet.breed.id">
                <div class="input-group-prepend">
                    <span class="input-group-text"><a href="javascript:;" (click)="back()"><i [ngClass]="'fa fa-' + pet.petType.icon" style="float: right; font-size: 235%;"></i></a></span>
                </div>
                <input type="text" style="height: auto; font-size: 22px; background-color: transparent; color: white;" disabled="true" class="form-control" value="{{pet.breed.description}}" aria-describedby="basic-addon1">
            </div>
    
            <input class="ember-view ember-text-field form-control login-input" [(ngModel)]="pet.name" placeholder="{{language.name}}" type="text" ngDefaultControl />
            
            <!-- <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <input class="datepicker" data-date-format="mm/dd/yyyy"> -->
            <input class="ember-view ember-text-field form-control login-input" [matDatepicker]="myDatepicker" [(ngModel)]="pet.birthDate">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <input class="ember-view ember-text-field form-control login-input" value="{{pet.age}}" placeholder="{{language.age}}" type="text" disabled="true" />
            <input class="ember-view ember-text-field form-control login-input-pass" [(ngModel)]="pet.description" placeholder="{{language.description}}" type="text" ngDefaultControl />
            <app-alert></app-alert>
        </div>
        <button class="btn btn-toppet btn-lg" (click)="next()">{{language.ok}}</button>
    </div>
</div>

  
  
  
      