<section id="team" class="pb-5" *ngIf="outlet.isActivated == false">
  <div class="container">
      <!-- <h5 class="section-title h1">{{title}}</h5> -->
      <div class="row">
          <app-loading *ngIf="loading"></app-loading>
          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let pet of pets">
              <div class="image-flip">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class="img-fluid" src="{{pet.img}}" alt=""></p>
                                  <h4 class="card-title">{{pet.name}}</h4>
                                  <p class="card-text">{{pet.description}}</p>
                                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a href="javascript:;" class="float bg-toppet" (click)="add()" [ngClass]="{ 'button-disabled': dialog }">
    <i class="fa fa-plus my-float"></i>
  </a>
</section>
<router-outlet #outlet="outlet"></router-outlet>
